<html>
    <head>
        <link rel="stylesheet" type="text/css" href="static\assets\quizStarted\questionBox.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="static\assets\quizStarted\optionBox.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="static\assets\quizStarted\timer.css" rel="stylesheet">

        <style>
         
            .limit{
                width:200px;
                word-wrap: break-word;
                font-size : 1.3vw;
                overflow-y: scroll;
            }
            .wrapper {
                display: grid;
                grid-template-columns: repeat(5, 0fr);
              }
              .boxOption{
                width:200px;height:200px;
                box-shadow: 0 0 30px rgba(0,0,0,0.082);
                border-radius:20px;
                display: flex; justify-content: center;
                align-items: center;
                flex-direction: column;
                margin-right:25px;
            }
            .boxOption2{
              width:700px;height:250px;
              box-shadow: 0 0 30px rgba(0,0,0,0.082);
              border-radius:20px;
              display: flex; justify-content: center;
              align-items: center;
              flex-direction: column;
              margin-right:25px;
          }
          input{
            all: revert;
          }
          :checked + label {
            {% comment %} border: 1px solid rgba(81, 203, 238, 1);
            box-shadow: 0 0 5px rgba(81, 203, 238, 1); {% endcomment %}
          }
          
        </style>
        {% comment %} <script>
          var a=parseInt(document.getElementById('quizT').value);
          var b=1000*a;
          setInterval(function () {document.getElementById("endQuiz").click();}, b);
        </script> {% endcomment %}
    </head>
    <body>
        <div class="box " style="margin-left: 28px;">
          
            <h2 class="center">
            
              <div class="floating-label">
            {% if que.queImage|length > 1%}
            <img src='/static/images/{{que.queImage}}' alt="...", height="150px", width="150px">
            {% endif %}
          </div>
              
              {{que.que}}
              <input type="hidden" id="optionsHereScript" name="optionsHereScript" value="{{options}}">
            </h2>
              <h2 class="center"></h2>
              
                
                  
          </div>
          <div class="boxQuestionTimer" style="position: absolute;left:10px;">
            <h4 class="center" >Total Time Left</h4>
            <h3 class="center" id="h2quizT" name="h2quizT">{{quizTime}}</h3>
            <input type="hidden" id="quizT" name="quizT" value={{quizTime}}>
            <div class="floating-label">
                
            </div>
                  
          </div>
          <div class="boxQuestionTimer" style="position: absolute;right:10px;">
            <h3 class="center">Time Left</h3>
            <form method="post" action="/newHandleAnswerResponse" class="log-in">
              {% csrf_token %}
            <h3 class="center" id="h2queT" name="h2queT">{{timer}}</h3>
            <input type="hidden" id="queT" name="queT" value={{timer}}>
            </form>
              {% comment %} <script>
                var x=parseInt(document.getElementById('queT').value);
                var y=1000*x;
                setInterval(function () {document.getElementById("savenext").click();}, y);
              </script> {% endcomment %}
              
              
            <div class="floating-label">
                      
            </div>
                  
          </div>
          <div class="wrapper" style="color:black;position:absolute;top:250px;">
            {% if opLengthBool %}
            <form method="post" action="/newHandleAnswerResponse" class="log-in">
              {% csrf_token %}
            <div class="boxOption2">
                
                  <input type="hidden" id="ans" name="ans" value="{{i}}">
                  <input type="hidden" id="ansQuizCode" name="ansQuizCode" value="{{quizCode}}">
                  <input type="hidden" id="ansQuestion" name="ansQuestion" value="{{que.que}}">
                  <input type="hidden" id="quizCheck" name="quizCheck" value={{code}}>
                  <input type="hidden" id="questionIndex" name="questionIndex" value="{{questionIndex}}">
                  <textarea rows="8" cols="100" id="ans"name="ans" placeholder="Enter Answer Here"></textarea>
                  
                  <a href="/newHandleAnswerResponse"><button type="submit" class="btn center" style="position:relative;left:75%;">Save&Next</button>
            </div>
            
            </form>
            {% else %}
            {% comment %} {% for i in options %}
            <form method="post" action="/handleAnswerResponse" class="log-in">
              {% csrf_token %}
            <a href="/handleAnswerResponse"><button type="submit"><div class="boxOption">
                <div class="floating-label">  
                  <p class="limit">{{i}}</p>
                  <input type="hidden" id="ans" name="ans" value="{{i}}">
                  <input type="hidden" id="ansQuizCode" name="ansQuizCode" value="{{quizCode}}">
                  <input type="hidden" id="ansQuestion" name="ansQuestion" value="{{que.que}}">
                  <input type="hidden" id="quizCheck" name="quizCheck" value={{code}}>
                  <input type="hidden" id="questionIndex" name="questionIndex" value="{{questionIndex}}">
                  
                </div>
            </div></button></a>
            
          </form>
            {% endfor %} {% endcomment %}
            <form method="post" action="/newHandleAnswerResponse" class="log-in wrapper">
              {% csrf_token %}
              <input type="hidden" id="ansQuizCode" name="ansQuizCode" value="{{code}}">
              <input type="hidden" id="ansQuestion" name="ansQuestion" value="{{que.que}}">
              {% comment %} <input type="hidden" id="quizCheck" name="quizCheck" value={{code}}> {% endcomment %}
              <input type="hidden" id="questionIndex" name="questionIndex" value="{{questionIndex}}">

              <div id="welcomeDiv1" style="display:none;" class="answer_list">
                <input type="checkbox" id="op1select" name="op1select" style="position:relative;left:80%;top:15%;"/>
                <label for="op1select">  
                  <div class="boxOption">
                    <div class="floating-label">  
                      <p class="limit">{{i}}</p>

                      <input type="hidden" id="ans" name="ans" value="{{i}}">
                      <input type="hidden" id="ansQuizCode" name="ansQuizCode" value="{{quizCode}}">
                      <input type="hidden" id="ansQuestion" name="ansQuestion" value="{{que.que}}">
                      <input type="hidden" id="quizCheck" name="quizCheck" value={{code}}>
                      <input type="hidden" id="questionIndex" name="questionIndex" value="{{questionIndex}}">
                      
                    </div>
                  </div>
                </label>

              </div>
              <div id="welcomeDiv2" style="display:none;" class="answer_list">
                <input type="checkbox" id="op2select" name="op2select" style="position:relative;left:80%;top:15%;"/>
                <label for="op2select">  
                  <div class="boxOption">
                    <div class="floating-label">  
                      <p class="limit">{{i}}</p>

                      <input type="hidden" id="ans" name="ans" value="{{i}}">
                      <input type="hidden" id="ansQuizCode" name="ansQuizCode" value="{{quizCode}}">
                      <input type="hidden" id="ansQuestion" name="ansQuestion" value="{{que.que}}">
                      <input type="hidden" id="quizCheck" name="quizCheck" value={{code}}>
                      <input type="hidden" id="questionIndex" name="questionIndex" value="{{questionIndex}}">
                      
                    </div>
                  </div>
                </label>

              </div>
              <div id="welcomeDiv3" style="display:none;" class="answer_list">
                <input type="checkbox" id="op3select" name="op3select" style="position:relative;left:80%;top:15%;"/>
                <label for="op3select">  
                  <div class="boxOption">
                    <div class="floating-label">  
                      <p class="limit">{{i}}</p>

                      <input type="hidden" id="ans" name="ans" value="{{i}}">
                      <input type="hidden" id="ansQuizCode" name="ansQuizCode" value="{{quizCode}}">
                      <input type="hidden" id="ansQuestion" name="ansQuestion" value="{{que.que}}">
                      <input type="hidden" id="quizCheck" name="quizCheck" value={{code}}>
                      <input type="hidden" id="questionIndex" name="questionIndex" value="{{questionIndex}}">
                      
                    </div>
                  </div>
                </label>
              </div>
              <div id="welcomeDiv4" style="display:none;" class="answer_list">
                <input type="checkbox" id="op4select" name="op4select" style="position:relative;left:80%;top:15%;"/>
                <label for="op4select">  
                  <div class="boxOption">
                    <div class="floating-label">  
                      <p class="limit">{{i}}</p>

                      <input type="hidden" id="ans" name="ans" value="{{i}}">
                      <input type="hidden" id="ansQuizCode" name="ansQuizCode" value="{{quizCode}}">
                      <input type="hidden" id="ansQuestion" name="ansQuestion" value="{{que.que}}">
                      <input type="hidden" id="quizCheck" name="quizCheck" value={{code}}>
                      <input type="hidden" id="questionIndex" name="questionIndex" value="{{questionIndex}}">
                      
                    </div>
                  </div>
                </label>
              </div>
          
              
            </div>
            <div>
            
              <input type="hidden" id="ansQuizCode" name="ansQuizCode" value="{{code}}">
              <input type="hidden" id="ansQuestion" name="ansQuestion" value="{{que.que}}">
              {% comment %} <input type="hidden" id="quizCheck" name="quizCheck" value={{code}}> {% endcomment %}
              <input type="hidden" id="questionIndex" name="questionIndex" value="{{questionIndex}}">
              {% comment %} <input type="hidden" id="quizCheck" name="quizCheck" value={{code}}>
              <input type="hidden" id="questionIndex" name="questionIndex" value={{questionIndex}}> {% endcomment %}

              <a href="/newHandleAnswerResponse"><button id="savenext" class="btn" style="position:absolute;right:20px;bottom:20px;">Save&Next</button></a>
              <a href="#"><button id="endQuiz" class="btn" style="position:absolute;right:20px;bottom:20px;" hidden>EndQuiz</button></a>

            </form>
            {% endif %}
          </div>
          
          <script type="text/javascript">
            // Set the date we're counting down to
            var x = parseInt(document.getElementById("queT").value);
            var y = parseInt(document.getElementById("quizT").value);
            var opt="{{opLength}}";
            var optionHere2=document.getElementById("optionsHereScript").value;
            var optionHere1=optionHere2.slice(1,(optionHere2.length)-1);
            var optionHere=optionHere1.split(",")
            console.log(opt);
            console.log("oopt aboove");
            console.log(optionHere);
            console.log("optionsabove");
            var divHere=document.querySelectorAll(".answer_list")
            console.log(divHere);
            var pHere=document.querySelectorAll(".limit");
            for (var i=0;i<opt;i=i+1){
              console.log(optionHere[i].length);
              if(optionHere[i].length>3){
                divHere[i].style.display="block";
                pHere[i].innerHTML=optionHere[i];
              }
            }
           setInterval(function(){
              x=x-1;
              y=y-1;
              
              document.getElementById("h2queT").innerHTML=x;
              document.getElementById("h2quizT").innerHTML=y;
              if(x<0 ){
                document.getElementById("savenext").click();
              }
            },1000);
            </script>
    </body>
</html>
