<html>
    <head>
        <link rel="stylesheet" type="text/css" href="static\assets\quizStarted\questionBox.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="static\assets\quizStarted\optionBox.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="static\assets\quizStarted\timer.css" rel="stylesheet">

        <style>
            .limit{
                width:200px;
                word-wrap: break-word;
                font-size : 1.3vw;
                overflow-y: scroll;
            }
            .wrapper {
                display: grid;
                grid-template-columns: repeat(5, 0fr);
              }
              .boxOption{
                width:200px;height:200px;
                box-shadow: 0 0 30px rgba(0,0,0,0.082);
                border-radius:20px;
                display: flex; justify-content: center;
                align-items: center;
                flex-direction: column;
                margin-right:25px;
            }
        </style>
        {% comment %} <script>
          var a=parseInt(document.getElementById('quizT').value);
          var b=1000*a;
          setInterval(function () {document.getElementById("endQuiz").click();}, b);
        </script> {% endcomment %}
    </head>
    <body>
        <div class="box " style="margin-left: 28px;">
            <h2 class="center">
              {{que.que}}
            </h2>
              <h2 class="center"></h2>
              
                <div class="floating-label">
                    
                </div>
                  
          </div>
          <div class="boxQuestionTimer" style="position: absolute;left:10px;">
            <h4 class="center" >Total Time Left</h4>
            <h3 class="center" id="h2quizT" name="h2quizT">{{quizTime}}</h3>
            <input type="hidden" id="quizT" name="quizT" value={{quizTime}}>
            <div class="floating-label">
                
            </div>
                  
          </div>
          <div class="boxQuestionTimer" style="position: absolute;right:10px;">
            <h3 class="center">Time Left</h3>
            <form method="post" action="/handleNextQuestion" class="log-in">
              {% csrf_token %}
            <h3 class="center" id="h2queT" name="h2queT">{{timer}}</h3>
            <input type="hidden" id="queT" name="queT" value={{timer}}>
            </form>
              {% comment %} <script>
                var x=parseInt(document.getElementById('queT').value);
                var y=1000*x;
                setInterval(function () {document.getElementById("savenext").click();}, y);
              </script> {% endcomment %}
              <script type="text/javascript">
                // Set the date we're counting down to
                var x = parseInt(document.getElementById("queT").value);
                var y = parseInt(document.getElementById("quizT").value);
               setInterval(function(){
                  x=x-1;
                  y=y-1;
                  
                  document.getElementById("h2queT").innerHTML=x;
                  document.getElementById("h2quizT").innerHTML=y;
                  if(x<0 ){
                    document.getElementById("savenext").click();
                  }
                },1000);
                </script>
              
            <div class="floating-label">
                      
            </div>
                  
          </div>
          <div class="wrapper" style="color:black;position:absolute;top:250px;">
            
            {% for i in options %}
            <a href="#" type=><div class="boxOption">
                <div class="floating-label">  
                  <p class="limit">{{i}}</p>
                </div>
            </div></a>
            {% endfor %}
          </div>
          <div>
            <form method="post" action="/handleNextQuestion" class="log-in">
              {% csrf_token %}
              <input type="hidden" id="quizCheck" name="quizCheck" value={{code}}>
              <input type="hidden" id="questionIndex" name="questionIndex" value={{questionIndex}}>

              <a href="/handleNextQuestion"><button id="savenext" class="btn" style="position:absolute;right:20px;bottom:20px;">Save&Next</button></a>
              <a href="#"><button id="endQuiz" class="btn" style="position:absolute;right:20px;bottom:20px;" hidden>EndQuiz</button></a>

            </form>
          </div>
    </body>
</html>
