<html>

<head>
  <!-- <link rel="stylesheet" type="text/css" href="static\assets\quizStarted\questionBox.css" rel="stylesheet"> -->
  <!-- <link rel="stylesheet" type="text/css" href="static\assets\quizStarted\optionBox.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="static\assets\quizStarted\timer.css" rel="stylesheet"> -->
  <link rel="stylesheet" type="text/css" href="static\assets\temp\tempbox.css">
  <link rel="stylesheet" href="https://latex.codecogs.com/css/equation-embed.css" />
  <script src="https://latex.codecogs.com/js/eq_config.js"></script>
  <script src="https://latex.codecogs.com/js/eq_editor-lite-19.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <style>
    .limit {
      width: 200px;
      word-wrap: break-word;
      font-size: 1.3vw;
      overflow-y: scroll;
    }

    .wrapper {
      display: grid;
      grid-template-columns: repeat(5, 0fr);
    }



    .box {
      width: 75%;
      height: 40%;
      box-shadow: 0 0 30px rgba(0, 0, 0, 0.082);
      border-radius: 20px;
      position: absolute;
      justify-content: center;
      margin-top: 20px;
      align-items: center;
      flex-direction: column;
      left: 12%;


    }


    .boxOption {
      width: 200px;
      height: 200px;
      box-shadow: 0 0 30px rgba(0, 0, 0, 0.082);
      border-radius: 20px;
      display: inline-block;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      position: relative;
      top: 20%;
      left: 70%;
      margin-right: 1%;
    }

    .boxOption p {
      margin: 5px 20px;
      text-align: center;
      font-size: 10px;
    }
  </style>
  <script>
    EqEditor.embed('editor', '', ['sym', 'bin', 'sub', 'ace', 'arr', 'gel', 'geu', 'rel', 'mat', 'format', 'fn', 'col', 'font', 'size', 'dpi', 'bg', 'ope']);

    EqEditor.add(new EqTextArea('equation', 'questionHere'), false);
    EqEditor.add(new EqTextArea('equation', 'ansHere'), false);
    textarea.addOutput(new EqEditor.Output('testbox', 'html'));
  </script>

</head>

<body>
  <!-- <header style="background-color: rgba(0, 0, 0, 0); border-color: rgba(0, 0, 0, 0);"> -->

  <div>
    <nav>
      <div id="editor"></div>
      <div id="main-nav-open-menu-btn" class="mobile-menu-icon"></div>
    </nav>
  </div>
 <div class="form">  
  <img id="equation"/>
  <form method="post" action="/handleMultipleChoice" class="log-in" autocomplete="off"> 
    {% csrf_token %}
  <div class="box center">
    
    <p>
      <textarea name="questionHere" id="questionHere" class="mt-4 mb-1 pb-0" rows="8" cols="100"
        style="background-color: rgba(0, 0, 0, 0); border-color: rgba(0, 0, 0, 0)"
        placeholder="Type Question Here"></textarea>
    </p>
  </div>
  <script>
    EqEditor.embed('editor','',['sym','bin','sub','ace','arr','gel','geu','rel','mat','format','fn','col','font','size','dpi','bg' ,'ope']);

    EqEditor.add(new EqTextArea('equation', 'questionHere'),false);
    EqEditor.add(new EqTextArea('equation', 'ansHere'),false);
    textarea.addOutput(new EqEditor.Output('testbox','html'));
    </script>
  <div class="wrapper" style="color:black;position:absolute;top:50%;">


    <div id="welcomeDiv1" style="display:block;" class="answer_list">
      <input type="checkbox" name="op1Select" id="op1Select" style="position:absolute;right:165px;top:315px;">

      <div class="boxOption">
        <!-- <button type="hidden" style=" position: absolute;
        right: 3%;
        top: 0%;" onclick="delDiv()">
          <i class="fa fa-trash" style=" font-size:24px; position: absolute;
          right: 3%;
          top: 0%;"></i>
        </button> -->
        <div class="floating-label">
          <p class="limit"> <textarea name="op1Here" id="op1Here" class="mt-3 mb-1 pb-0 pr-3" rows="8" cols="19"
              style="background-color: rgba(0, 0, 0, 0); border-color: rgba(0, 0, 0, 0)"
              placeholder="Type Option 1 Here"></textarea></p>
        </div>
      </div>
     

    </div>


    <div id="welcomeDiv2" style="display:block;" class="answer_list">
      <input type="checkbox" name="op2Select" id="op2Select" style="position:absolute;right:165px;top:315px;">

      <div class="boxOption">
        <!-- <button type="hidden" style=" position: absolute;
        right: 3%;
        top: 0%;" onclick="delDiv()">
          <i class="fa fa-trash" style=" font-size:24px; position: absolute;
          right: 3%;
          top: 0%;"></i>
        </button> -->
        <div class="floating-label">
          <p class="limit"> <textarea name="op2Here" id="op2Here" class="mt-3 mb-1 pb-0 pr-3" rows="8" cols="19"
              style="background-color: rgba(0, 0, 0, 0); border-color: rgba(0, 0, 0, 0)"
              placeholder="Type Option 2 Here"></textarea></p>
        </div>
      </div>
      

    </div>



    <div id="welcomeDiv3" style="display:block;" class="answer_list">
      <input type="checkbox" name="op3Select" id="op3Select" style="position:absolute;right:165px;top:315px;">

      <div class="boxOption">
        <button type="hidden" style=" position: absolute;
        right: 3%;
        top: 0%;" onclick="delDiv()">
          <i class="fa fa-trash" style=" font-size:24px; position: absolute;
          right: 3%;
          top: 0%;"></i>
        </button>
        <div class="floating-label">
          <p class="limit"> <textarea name="op3Here" id="op3Here" class="mt-3 mb-1 pb-0 pr-3" rows="8" cols="19"
              style="background-color: rgba(0, 0, 0, 0); border-color: rgba(0, 0, 0, 0)"
              placeholder="Type Option 3 Here"></textarea></p>
        </div>
      </div>
      

    </div>


    <div id="welcomeDiv4" style="display:block;" class="answer_list">
      <input type="checkbox" name="op4Select" id="op4Select" style="position:absolute;right:165px;top:315px;">

      <div class="boxOption">
        <button type="hidden" style=" position: absolute;
        right: 3%;
        top: 0%;" onclick="delDiv()">
          <i class="fa fa-trash" style=" font-size:24px; position: absolute;
          right: 3%;
          top: 0%;"></i>
        </button>
       
        <div class="floating-label">
          <p class="limit"> <textarea name="op4Here" id="op4Here" class="mt-3 mb-1 pb-0 pr-3" rows="8" cols="19"
              style="background-color: rgba(0, 0, 0, 0); border-color: rgba(0, 0, 0, 0)"
              placeholder="Type Option 4 Here"></textarea></p>
        </div>
      </div>
  

    </div>


    <div id="welcomeDiv5" style="display:none;" class="answer_list">
      <input type="checkbox" name="op5Select" id="op5Select" style="position:absolute;right:165px;top:315px;">

      <div class="boxOption">
        <button type="hidden" style=" position: absolute;
        right: 3%;
        top: 0%;" onclick="delDiv()">
          <i class="fa fa-trash" style=" font-size:24px; position: absolute;
          right: 3%;
          top: 0%;"></i>
        </button>
        <div class="floating-label">
          <p class="limit"> <textarea name="op5Here" id="op5Here" class="mt-3 mb-1 pb-0 pr-3" rows="8" cols="19"
              style="background-color: rgba(0, 0, 0, 0); border-color: rgba(0, 0, 0, 0)"
              placeholder="Type Option 5 Here"></textarea></p>
        </div>
      </div>
      

    </div>
    <button type="hidden" style="position: absolute;
    right: -50%;
    top: 55%;" onclick="addDiv()">
      <i class="fa fa-plus-circle" style="font-size:24px"></i>
    </button>
    <script>

      function addDiv() {
        var x = document.querySelectorAll(".answer_list");
        for (var i = 0; i < x.length; i++) {

          if (x[i].style.display == "none") {
            if (i <5) {
              x[i].style.display = "block";
              break;
            }
          }

        }
      }

      function delDiv() {
        var y = document.querySelectorAll(".answer_list");
        for (var i = 0; i < y.length; i++) {

          if (y[i].style.display == "none") {
            if (i - 1 >= 2) {
              y[i - 1].style.display = "none";
              break;
            }
          }
          else if(i==4){
            y[i].style.display="none";
          }

        }
      }

    </script>
  </div>

</form>
 </div>
 
</body>

</html>