
.md\:w-28 {
    width: 7rem;
}

.text-dark-3 {
    --tw-text-opacity: 1;
    color: rgba(66, 66, 66, var(--tw-text-opacity));
}

.py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.rounded-lg {
    border-radius: 0.5rem;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.w-26 {
    width: 6.5rem;
}

.flex {
    display: flex;
}

button, input, optgroup, select, textarea {
    padding: 0;
    line-height: inherit;
    color: inherit;
}

button, [role="button"] {
    cursor: pointer;
}

button {
    background-color: transparent;
    background-image: none;
}

button, [type='button'], [type='reset'], [type='submit'] {
    -webkit-appearance: button;
}

button, select {
    text-transform: none;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

*, ::before, ::after {
    --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59, 130, 246, 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
}

*, ::before, ::after {
    --tw-shadow: 0 0 #0000;
}

*, ::before, ::after {
    border-color: currentColor;
}

*, ::before, ::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: currentColor;
}

*, ::before, ::after {
    box-sizing: border-box;
}
user agent stylesheet
button {
    appearance: auto;
    -webkit-writing-mode: horizontal-tb !important;
    
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
    margin: 0em;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

.shadow-soft-low-high {
    --tw-shadow: 0px 0px 4px rgba(0, 0, 0, 0.03), 0px 8px 12px rgba(0, 0, 0, 0.04);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.bg-light-3 {
    --tw-bg-opacity: 1;
    background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}

.border-dark-6 {
    --tw-border-opacity: 1;
    border-color: rgba(229, 229, 229, var(--tw-border-opacity));
}

.bg-light-1 {
    --tw-bg-opacity: 1;
    background-color: rgba(242, 242, 242, var(--tw-bg-opacity));
}

body {
    font-family: inherit;
    line-height: inherit;
}

body {
    font-family: system-ui, -apple-system, /* Firefox supports this but not yet `system-ui` */ 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
}

html {
    font-family: Open Sans, sans-serif, Helvetica, Arial, Symbola;
    line-height: 1.5;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

html {
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
}

*, ::before, ::after {
    --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59, 130, 246, 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
}

*, ::before, ::after {
    --tw-shadow: 0 0 #0000;
}

*, ::before, ::after {
    border-color: currentColor;
}

*, ::before, ::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: currentColor;
}

*, ::before, ::after {
    box-sizing: border-box;
}

*, ::before, ::after {
    --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59, 130, 246, 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
}

*, ::before, ::after {
    --tw-shadow: 0 0 #0000;
}

*, ::before, ::after {
    border-color: currentColor;
}

*, ::before, ::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: currentColor;
}

*, ::before, ::after {
    box-sizing: border-box;
}
.items-center {
    align-items: center;
}

.flex-col {
    flex-direction: column;
}

.flex {
    display: flex;
}

*, ::before, ::after {
    --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59, 130, 246, 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
}

*, ::before, ::after {
    --tw-shadow: 0 0 #0000;
}

*, ::before, ::after {
    border-color: currentColor;
}

*, ::before, ::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: currentColor;
}

*, ::before, ::after {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}

.text-dark-3 {
    --tw-text-opacity: 1;
    color: rgba(66, 66, 66, var(--tw-text-opacity));
}

button, input, optgroup, select, textarea {
    padding: 0;
    line-height: inherit;
    color: inherit;
}

button, [role="button"] {
    cursor: pointer;
}

button, select {
    text-transform: none;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
user agent stylesheet
button {
    -webkit-writing-mode: horizontal-tb !important;
    
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: center;
    cursor: default;
}

.shadow-soft-low-high {
    --tw-shadow: 0px 0px 4px rgba(0, 0, 0, 0.03), 0px 8px 12px rgba(0, 0, 0, 0.04);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.bg-light-3 {
    --tw-bg-opacity: 1;
    background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}

.border-dark-6 {
    --tw-border-opacity: 1;
    border-color: rgba(229, 229, 229, var(--tw-border-opacity));
}

.bg-light-1 {
    --tw-bg-opacity: 1;
    background-color: rgba(242, 242, 242, var(--tw-bg-opacity));
}

body {
    font-family: inherit;
    line-height: inherit;
}

body {
    font-family: system-ui, -apple-system, /* Firefox supports this but not yet `system-ui` */ 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
}

html {
    font-family: Open Sans, sans-serif, Helvetica, Arial, Symbola;
    line-height: 1.5;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

html {
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
}

*, ::before, ::after {
    --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59, 130, 246, 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
}

*, ::before, ::after {
    --tw-shadow: 0 0 #0000;
}

*, ::before, ::after {
    border-color: currentColor;
}

*, ::before, ::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: currentColor;
}

*, ::before, ::after {
    box-sizing: border-box;
}

*, ::before, ::after {
    --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59, 130, 246, 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
}

*, ::before, ::after {
    --tw-shadow: 0 0 #0000;
}

*, ::before, ::after {
    border-color: currentColor;
}

*, ::before, ::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: currentColor;
}

*, ::before, ::after {
    box-sizing: border-box;
}
.text-light {
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.bg-brand-b {
    --tw-bg-opacity: 1;
    background-color: rgba(45, 157, 166, var(--tw-bg-opacity));
}

.rounded-lg {
    border-radius: 0.5rem;
}

.rounded {
    border-radius: 0.25rem;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.w-12 {
    width: 3rem;
}

.w-6 {
    width: 1.5rem;
}

.h-12 {
    height: 3rem;
}

.h-6 {
    height: 1.5rem;
}

.flex {
    display: flex;
}

.mb-2 {
    margin-bottom: 0.5rem;
}

*, ::before, ::after {
    --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59, 130, 246, 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
}

*, ::before, ::after {
    --tw-shadow: 0 0 #0000;
}

*, ::before, ::after {
    border-color: currentColor;
}

*, ::before, ::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: currentColor;
}

*, ::before, ::after {
    box-sizing: border-box;
}

.text-dark-3 {
    --tw-text-opacity: 1;
    color: rgba(66, 66, 66, var(--tw-text-opacity));
}

button, input, optgroup, select, textarea {
    padding: 0;
    line-height: inherit;
    color: inherit;
}

button, [role="button"] {
    cursor: pointer;
}

button, select {
    text-transform: none;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
user agent stylesheet
button {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: center;
    cursor: default;
}

.shadow-soft-low-high {
    --tw-shadow: 0px 0px 4px rgba(0, 0, 0, 0.03), 0px 8px 12px rgba(0, 0, 0, 0.04);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.bg-light-3 {
    --tw-bg-opacity: 1;
    background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}

.border-dark-6 {
    --tw-border-opacity: 1;
    border-color: rgba(229, 229, 229, var(--tw-border-opacity));
}

.bg-light-1 {
    --tw-bg-opacity: 1;
    background-color: rgba(242, 242, 242, var(--tw-bg-opacity));
}

body {
    font-family: inherit;
    line-height: inherit;
}

body {
    font-family: system-ui, -apple-system, /* Firefox supports this but not yet `system-ui` */ 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
}

html {
    font-family: Open Sans, sans-serif, Helvetica, Arial, Symbola;
    line-height: 1.5;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

html {
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
}

*, ::before, ::after {
    --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59, 130, 246, 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
}

*, ::before, ::after {
    --tw-shadow: 0 0 #0000;
}

*, ::before, ::after {
    border-color: currentColor;
}

*, ::before, ::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: currentColor;
}

*, ::before, ::after {
    box-sizing: border-box;
}

*, ::before, ::after {
    --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59, 130, 246, 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
}

*, ::before, ::after {
    --tw-shadow: 0 0 #0000;
}

*, ::before, ::after {
    border-color: currentColor;
}

*, ::before, ::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: currentColor;
}

*, ::before, ::after {
    box-sizing: border-box;
}
element.style {
    font-size: 18px;
}

.far {
    font-weight: 400;
}

.fal, .far {
    font-family: "Font Awesome 5 Pro";
}

.fa, .fab, .fad, .fal, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

*, ::before, ::after {
    --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59, 130, 246, 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
}

*, ::before, ::after {
    --tw-shadow: 0 0 #0000;
}

*, ::before, ::after {
    border-color: currentColor;
}

*, ::before, ::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: currentColor;
}

*, ::before, ::after {
    box-sizing: border-box;
}
user agent stylesheet
i {
    font-style: italic;
}

.text-light {
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.bg-brand-b {
    --tw-bg-opacity: 1;
    background-color: rgba(45, 157, 166, var(--tw-bg-opacity));
}

.text-dark-3 {
    --tw-text-opacity: 1;
    color: rgba(66, 66, 66, var(--tw-text-opacity));
}

button, input, optgroup, select, textarea {
    padding: 0;
    line-height: inherit;
    color: inherit;
}

button, [role="button"] {
    cursor: pointer;
}

button, select {
    text-transform: none;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
user agent stylesheet
button {
    -webkit-writing-mode: horizontal-tb !important;
    
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: center;
    cursor: default;
}

.shadow-soft-low-high {
    --tw-shadow: 0px 0px 4px rgba(0, 0, 0, 0.03), 0px 8px 12px rgba(0, 0, 0, 0.04);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.bg-light-3 {
    --tw-bg-opacity: 1;
    background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}

.border-dark-6 {
    --tw-border-opacity: 1;
    border-color: rgba(229, 229, 229, var(--tw-border-opacity));
}

.bg-light-1 {
    --tw-bg-opacity: 1;
    background-color: rgba(242, 242, 242, var(--tw-bg-opacity));
}

body {
    font-family: inherit;
    line-height: inherit;
}

body {
    font-family: system-ui, -apple-system, /* Firefox supports this but not yet `system-ui` */ 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
}

html {
    font-family: Open Sans, sans-serif, Helvetica, Arial, Symbola;
    line-height: 1.5;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

html {
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
}

.fa-check-square:before {
    content: "\f14a";
}

*, ::before, ::after {
    --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59, 130, 246, 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
}

*, ::before, ::after {
    --tw-shadow: 0 0 #0000;
}

*, ::before, ::after {
    border-color: currentColor;
}

*, ::before, ::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: currentColor;
}

*, ::before, ::after {
    box-sizing: border-box;
}

*, ::before, ::after {
    --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59, 130, 246, 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
}

*, ::before, ::after {
    --tw-shadow: 0 0 #0000;
}

*, ::before, ::after {
    border-color: currentColor;
}

*, ::before, ::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: currentColor;
}

*, ::before, ::after {
    box-sizing: border-box;
}
.text-dark-3 {
    --tw-text-opacity: 1;
    color: rgba(66, 66, 66, var(--tw-text-opacity));
}

.font-semibold {
    font-weight: 600;
}

.text-xs {
    font-size: 0.75rem;
    line-height: 1rem;
    letter-spacing: 0em;
}

*, ::before, ::after {
    --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59, 130, 246, 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
}

*, ::before, ::after {
    --tw-shadow: 0 0 #0000;
}

*, ::before, ::after {
    border-color: currentColor;
}

*, ::before, ::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: currentColor;
}

*, ::before, ::after {
    box-sizing: border-box;
}

button, input, optgroup, select, textarea {
    padding: 0;
    line-height: inherit;
    color: inherit;
}

button, [role="button"] {
    cursor: pointer;
}

button, select {
    text-transform: none;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
user agent stylesheet
button {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: center;
    cursor: default;
}

.shadow-soft-low-high {
    --tw-shadow: 0px 0px 4px rgba(0, 0, 0, 0.03), 0px 8px 12px rgba(0, 0, 0, 0.04);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.bg-light-3 {
    --tw-bg-opacity: 1;
    background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}

.border-dark-6 {
    --tw-border-opacity: 1;
    border-color: rgba(229, 229, 229, var(--tw-border-opacity));
}

.bg-light-1 {
    --tw-bg-opacity: 1;
    background-color: rgba(242, 242, 242, var(--tw-bg-opacity));
}

body {
    font-family: inherit;
    line-height: inherit;
}

body {
    font-family: system-ui, -apple-system, /* Firefox supports this but not yet `system-ui` */ 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
}

html {
    font-family: Open Sans, sans-serif, Helvetica, Arial, Symbola;
    line-height: 1.5;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

html {
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
}

*, ::before, ::after {
    --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59, 130, 246, 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
}

*, ::before, ::after {
    --tw-shadow: 0 0 #0000;
}

*, ::before, ::after {
    border-color: currentColor;
}

*, ::before, ::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: currentColor;
}

*, ::before, ::after {
    box-sizing: border-box;
}

*, ::before, ::after {
    --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59, 130, 246, 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
}

*, ::before, ::after {
    --tw-shadow: 0 0 #0000;
}

*, ::before, ::after {
    border-color: currentColor;
}

*, ::before, ::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: currentColor;
}

*, ::before, ::after {
    box-sizing: border-box;
}